.MuiPaper-root {
	width: 250px;
}

header {
	height: 80px;
    padding: 10px 20px;
	width: unset !important;
}

.drawer {
	width: 250px;
}

.icon {
	font-size: 40px !important;
	color: limegreen;
}

.title {
	font-size: 25px !important;
}